.header{
  background-color: #103240;

}
.logo{
  margin-top: 20px;
  text-align: center;
  color: white;
  margin-bottom: 10px;

}
.text{
  color: #fafafa;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  font-family: 'Montserrat' ,sans-serif;
  font-size: 2.5vw;
  margin-top: 20px;
}

.home{
  margin-top: 20px;
}
.nav-link {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #103240;
  padding: 20px 0px;
  margin: 0 20px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #103240;
}

.nav-link-ltr::before {
  width: 0%;
  bottom: 10px;
}

.nav-link-ltr:hover::before {
  width: 100%;
}

.carousel-item{

}

/* If the screen size is 1200px wide or more, set the font-size to 80px */
@media (min-width: 1200px) {
  .text {
    font-size: 45px;
  }
}
/* If the screen size is smaller than 1200px, set the font-size to 80px */
@media (min-width: 400px)(max-width: 1199.98px) {
  .text {
    font-size: 30px;
  }
}
@media (max-width: 399.98px) {
  .text {
    font-size: 20px;
  }
}

/* .navbar{
  height: 50px;
} */

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}	
